<!--トップページ-->
<%= notice %>

<h1>welcome to Bookers !!</h1>

<h2>
  In Bookers,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</h2>



<p><%= link_to "ログイン", new_user_session_path %></p>
<p><%= link_to "新規登録", new_user_registration_path  %></p>